h1,
p,
li {
    font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
}

.form-container {
    display: flex;
    margin-top: 1.5rem;
    min-height: 255px;
}

.questionLabel {
    margin-bottom: 1rem;
}

.button-group {
    margin-top: 1rem;
}

.summaryList {
    list-style: none;
    padding: 0;
}

.summaryList li {
    padding: 4px 0px 4px 0px;
    list-style: none;
}